@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

:root {
  --main-color: rgb(173, 216, 230);
  --main-color-hover: rgb(134, 206, 230);
  --main-color-dark: rgb(18, 136, 190);
  --main-color-dark-hover: rgb(18, 107, 190);
  --secondary-color: rgb(255, 251, 196);
  --secondary-color-dark: rgb(255, 238, 0);
  --times-table-color-heading: rgb(255, 248, 145);
  --font-monospace: "Courier New", monospace;
}

body {
  margin: 0;
  font-family: Roboto, monospace, Arial, sans-serif;
}
.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.text-center {
  text-align: center;
}
.center-horizontal {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.blur {
  opacity: 0.5;
}

/* Navbar */
.navbar {
  display: flex;
  background-color: var(--main-color);
  font-size: 1.25rem;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  float: left;
}
.navbar li a {
  display: block;
  padding: 0.75rem;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: black;
}
.navbar li a:hover:not(.active) {
  background-color: var(--main-color-hover);
}
.navbar a.active {
  background-color: var(--main-color-dark);
  color: white;
}
/* Navbar dropdown */
.navbar li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
}
.navbar li.dropdown:hover .dropdown-content {
  display: block;
  border: 1px solid black;
}
.navbar li.dropdown .dropdown-content a:not(:last-child) {
  border-bottom: 1px solid black;
}
.navbar li.dropdown .dropdown-content a.active {
  background-color: var(--secondary-color-dark);
  color: black;
}

/* Vertical nav */
.nav {
  font-size: 1.5rem;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--main-color-dark);
}
.nav li:not(:last-child) {
  border-bottom: 1px solid var(--main-color-dark);
}
.nav li a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 10rem;
  color: black;
  text-decoration: none;
}
@media (min-width: 576px) {
  .nav li a {
    min-width: 20rem;
  }
}
.nav li a:hover {
  background-color: var(--main-color-hover);
}

/* Times table */
table.times-table, table.times-table th, table.times-table td {
  border: 1px solid black;
  border-collapse: collapse;
}
table.times-table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: var(--font-monospace);
  font-size: 1rem;
}
@media (min-width: 576px) {
  table.times-table {
    /* Same col width */
    table-layout: fixed;
  }
}
@media (min-width: 768px) {
  table.times-table {
    table-layout: fixed;
    width: 90%;
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  table.times-table {
    table-layout: fixed;
    width: 80%;
    font-size: 1.25rem;
  }
}
table.times-table th, table.times-table td {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 1.75rem;
}
@media (min-width: 576px) {
  table.times-table th, table.times-table td {
    min-width: auto;
  }
}
table.times-table th {
  background-color: var(--times-table-color-heading);
}
table.times-table th:hover, table.times-table th.hover {
  background-color: var(--main-color-dark-hover);
  color: white;
}
table.times-table td:hover, table.times-table td.hover {
  background-color: var(--main-color-hover);
  font-weight: bold;
}

/* Quiz */
.quiz-container {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border: 1px solid black;

}
.quiz-top-bar {
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-bottom: 1px solid black;
}
.quiz-content {
  
}
.quiz-output {
  display: block;
  text-align: center;
  font-size: 5rem;
  padding: 1.5rem;
}
.quiz-comment {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-height: 1.5rem;
}
.quiz-progress {
  display: block;
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
input.quiz-input {
  display: block;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  font-size: 2rem;
}
button.quiz-enter, input.quiz-enter {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  min-width: 20rem;
  font-size: 2rem;
}