/* Navbar */
body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar {
  display: flex;
  background-color: rgb(173, 216, 230);
  font-size: 1.25rem;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  float: left;
}
.navbar ul li a {
  display: block;
  padding: 0.75rem;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0, 1);
}
.navbar ul li:hover {
  background-color: rgb(155, 212, 231);
}
.navbar a.active {
  background-color: rgb(18, 136, 190);
  color: #ffffff;
}